.form{
    border:1px solid lightgray;
    margin:10px;
    padding:40px;
    border-radius: 10px;
}

.error{
    font-weight: bold;
    color:red;
}

.passwordStrength{
    height:15px;
    width:15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.weak{
    background: red;
}

.medium{
    background:orange;
}

.strong{
    background:lightgreen;
}